style
  include ../dist/css/style.css
.header
  include ../dist/images/logo.svg
#app.tax-calculator
  .tax-calculator__headline How Would the Trump and Clinton Tax Plans Affect You?
  .tax-calculator__fields
    .tax-calculator__field
      label.tax-calculator__label(for='income1') What is your income?
      input.tax-calculator__number-field#income1(
        name='income1',
        type='number',
        value=0,
        onclick='this.select()',
        oninput='app.calculate()'
      )
    .tax-calculator__field
     label.tax-calculator__label(for='married') Are you married?
     input.tax-calculator__checkbox#married(
       name='married',
       type='checkbox',
       onchange='app.toggleMarriage()'
     )
    .tax-calculator__field.tax-calculator__field--hidden#income2-field
      label.tax-calculator__label(for='income2') What is your spouse's income?
      input.tax-calculator__number-field#income2(
        name='income2',
        type='number',
        value=0,
        onclick='this.select()',
        oninput='app.calculate()'
      )
    .tax-calculator__field
     label.tax-calculator__label(for='deductions-tick') Will you take itemized deductions?
     input.tax-calculator__checkbox#deductions-tick(
       name='deductions-tick',
       type='checkbox',
       onchange='app.toggleItemizedDeductions()'
     )
    .tax-calculator__field.tax-calculator__field--hidden#deductions-field
      label.tax-calculator__label(for='deductions') How many dollars of itemized deductions will you claim?
      input.tax-calculator__number-field#deductions(
        name='deductions',
        type='number',
        value=0,
        onclick='this.select()',
        oninput='app.calculate()'
      )
    .tax-calculator__field
      label.tax-calculator__label(for='children') How many dependents do you have?
      input.tax-calculator__number-field#children(
        name='children',
        type='number',
        value=0,
        onclick='this.select()',
        oninput='app.setChildrenUnderFiveRange()'
      )
    .tax-calculator__field.tax-calculator__field--hidden#children-under-five-field
      label.tax-calculator__label(for='children5') How many dependents are children under five years old?
      .tax-calculator__range
        label(style='display:inline-block') 0
        input.tax-calculator__range-field#children5(
          name='children5',
          type='range',
          value=0,
          min=0,
          max=0,
          oninput='app.setChildrenUnderFiveSelected()',
          style='display:inline-block'
        )
        label#children5max(style='display:inline-block') 0
      p(style='text-align:center') Total children under five:&nbsp;
        span#childrenUnderFiveSelected 0
    .tax-calculator__field.tax-calculator__field--hidden#childcare-field
      label.tax-calculator__label(for='childcare') How much do you spend on childcare in a year?
      input.tax-calculator__number-field#childcare(
        name='childcare',
        type='number',
        value=0,
        onclick='this.select()',
        oninput='app.calculate()'
      )
  table.tax-calculator-table
    thead.tax-calculator-table__head
      tr.tax-calculator-table__title
      tr.tax-calculator-table__headers
        th.tax-calculator-table__header Details and Provisions
        th.tax-calculator-table__header Current Law
        th.tax-calculator-table__header Clinton
        th.tax-calculator-table__header Trump
    tbody.tax-calculator-table__body#tax-results-body
  p.tax-calculator__notes NOTES: Calculator assumes that you only have wage income. Tax burden includes the impact of the federal individual income tax, the Child Tax Credit, the Earned Income Tax Credit, Employee- and Employer-side payroll taxes, the Alternative Minimum Tax, and the Medicare Surtax. Calculations are illustrative and should not be used for any tax filing purposes.
  p.tax-calculator__notes #[a(href='http://taxfoundation.org/article/details-and-analysis-donald-trump-tax-reform-plan-september-2016') Click here] to see our full analysis of Donald Trump's tax plan.
  p.tax-calculator__notes #[a(href='http://taxfoundation.org/article/details-and-analysis-hillary-clinton-s-tax-proposals-october-2016') Click here] to see our full analysis of Hillary Clinton's tax plan.
script
  include ../dist/js/app.js
