style
  include ../dist/css/style.css
#app.tax-calculator
  .tax-calculator__fields
    .tax-calculator__field
      label.tax-calculator__label(for='income1') Income #1
      input.tax-calculator__number-field#income1(
        name='income1',
        type='number',
        value=0,
        onclick='this.select()',
        onchange='app.calculate()'
      )
    .tax-calculator__field
      label.tax-calculator__label(for='income2') Income #2
      input.tax-calculator__number-field#income2(
        name='income2',
        type='number',
        value=0,
        onclick='this.select()',
        onchange='app.calculate()'
      )
    .tax-calculator__field
      label.tax-calculator__label(for='children') Children
      input.tax-calculator__number-field#children(
        name='children',
        type='number',
        value=0,
        onclick='this.select()',
        onchange='app.calculate()'
      )
    .tax-calculator__field
      label.tax-calculator__label(for='married') Married?
      input.tax-calculator__checkbox#married(
        name='married',
        type='checkbox',
        onchange='app.calculate()'
      )
  table.tax-calculator-table
    thead.tax-calculator-table__head
      tr.tax-calculator-table__title
        th.tax-calculator-table__title-text(colspan='4') Results
      tr.tax-calculator-table__headers
        th.tax-calculator-table__header Value
        th.tax-calculator-table__header Current Law
        th.tax-calculator-table__header Clinton
        th.tax-calculator-table__header Trump
    tbody.tax-calculator-table__body#tax-results-body

script
  include ../dist/js/app.js
